.PointsTable {
    .table>thead {
        vertical-align: bottom;
    }
    table tr {
        border-bottom: 1px solid #9EBFED;
    }
    .table-header th {
        color: #546680;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        padding: 0.5rem 0.5rem;
        padding-top: 1rem;;
        text-align: start;
    }
    .table-body td {
        color: #223A74;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        padding: 0.5rem 0.5rem;
    }
    .credit {
        color:#22742E;
        background-color: #F0FFE9;
    }
    .redeem {
        color:#746822;
        background-color: #FFF6E9;
    }
}